body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #c6cbccff, #447c8fff);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background: #ffffff;
    padding: 30px;
    width: 380px;
    border-radius: 15px;
    /* Ombre autour d'un element */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    animation: fadeIn 0.6s ease-in-out;
}

.form-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 25px;
}

label {
    font-size: 15px;
    color: #2f2e2eff;
}

select {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    transition: 0.3s;
}

select:focus {
    border-color: #2193b0;
    box-shadow: 0 0 5px rgba(33, 147, 176, 0.5);
}

button {
    width: 100%;
    padding: 12px;
    background: #d9534f;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #c9302c;
}

.success-message {
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
    color: green;
}

/* Petite animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

input {
    border: none;
}

table {
    width: 80%;
    border-collapse: collapse;
    border-color: grey;
    border: 2;
}