body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* .header-container {
    width: max-content;
    border: 2px solid black;
} */

header {
    border: 2px solid black;
    padding: 2px;
    border-radius: 15px;
}



aside {
    border: 2px solid black;
    /* height: 438px; */
    padding: 2px;
    margin-top: 8px;
    box-sizing: border-box;
    border-radius: 15px;

}

main{
    border: 2px solid black;
    border-radius: 15px;
    width: 54em;
    padding: 2px;
    margin-left: 8px;
    margin-top: 8px;
}

iframe {
    height: 100%;
    width: 100%;
    border: none;
}

footer {
    border: 2px solid black;
    border-radius: 15px;
    padding: 2px;
    margin-top: 8px;

}
.container{
    display: grid;
    margin: 5px;
}
.main-container {
    display: flex;
    height: 430px;
    max-width: max-content;
}
